<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="GPNACommon" value="https://nuget.pkg.jetbrains.space/gpna/p/gpna-common/gpnacommon/v3/index.json" />
    <add key="GPNAWW" value="https://nuget.pkg.jetbrains.space/gpna/p/gpna-wonderware/wonderware/v3/index.json" />
  </packageSources>
  <activePackageSource>
    <add key="GPNACommon" value="https://nuget.pkg.jetbrains.space/gpna/p/gpna-common/common/v3/index.json" />
    <add key="GPNAWW" value="https://nuget.pkg.jetbrains.space/gpna/p/gpna-wonderware/wonderware/v3/index.json" />
  </activePackageSource>
  <packageSourceCredentials>
    <GPNACommon>
      <add key="Username" value="nuget.client" />
      <add key="cleartextpassword" value="qwe890-" />
    </GPNACommon>
    <GPNAWW>
      <add key="Username" value="nuget.client" />
      <add key="cleartextpassword" value="qwe890-" />
    </GPNAWW>
  </packageSourceCredentials>
</configuration>


<!--?xml version="1.0" encoding="utf-8"?>
<configuration-->

  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <!--
  <system.webServer>
    <handlers>
      <remove name="aspNetCore"/>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
 

</configuration>
 -->