<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="C:\Windows\Temp\ConsoleApplication\nlog-internal.log" >
  <time type="FastLocal" />
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="NLog.Targets.KafkaAppender" />
  </extensions>
  <targets>
    <target name="file" xsi:type="File"
            fileName="${basedir}/Logs/${shortdate}.log"
            layout="[${longdate}] [${uppercase:${level}}] [${logger}] ${message} ${exception:format=tostring}"
            concurrentWrites="false" keepFileOpen="false"
            archiveNumbering="DateAndSequence"
            archiveAboveSize="104857600"/>
    <target xsi:type="KafkaAppender"
          name="kafka"
          topic="GPNA.OPCUA2Kafka.Logs"
          layout="${longdate}|${level:uppercase=true}|${logger}|${message}"
          brokers="192.168.108.253:9092"
          debug="false"
          async="false"
            />
    <target name="console" xsi:type="ColoredConsole"
            layout="[${longdate}] [${uppercase:${level}}] [${logger:shortName=true}] ${message} ${exception:format=tostring}" />
  </targets>
  <rules>
    <logger name="*" writeTo="file, kafka, console" />
    <logger name="Microsoft.*" minLevel="Debug" final="true" />
  </rules>
</nlog>